.top-bar {
    background-color: #f0f0f0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Agrupamento da logo e botão */
.logo-container img {
    display: block;
    margin: 0 auto;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}

.back-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
}
.selection-container {
    text-align: center;
    margin-top: 40px;
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #007BFF;
}

.progress-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.step {
    width: 50px;
    height: 5px;
    background: #ccc;
    margin: 0 5px;
}

.step.active {
    background: #007BFF;
}

.selection-container {
    margin: 50px auto;
    width: 300px;
}

.pet-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background: white;
}


.icon {
    font-size: 20px;
    margin-right: 10px;
}

.pet-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.new-pet {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    
}
