body {
    font-family: Arial, sans-serif;
}
header {
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

nav.navbar {
    margin-bottom: 30px;
}
section h2 {
    margin-bottom: 30px;
    color: #004d00;
}
footer {
    background-color: #004d00;
    color: white;
    padding: 15px 0;
    text-align: center;
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.whatsapp-float img {
    width: 40px;
    height: 40px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}


.marcas-section {
    background-color: #f9f9fa;
    padding: 40px 0;
    text-align: center;
  }
  
  .titulo-marcas {
    font-size: 24px;
    margin-bottom: 30px;
    color: #004d00;
  }
  
  .marcas-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .marca-item {
    background-color: #cacaca;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .marca-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .marca-item img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
  }

/* Efeito de suavização de entrada do modal */
.modal.fade .modal-dialog {
  transform: translate(0, -50px); /* Inicia o modal um pouco acima */
  opacity: 0; /* Começa invisível */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
}

.modal.show .modal-dialog {
  transform: translate(0, 0); /* Modal volta para sua posição original */
  opacity: 1; /* Fica totalmente visível */
}

/* Efeito de desfoque (blur) no fundo do modal */
.modal-backdrop {
  transition: opacity 0.3s ease, backdrop-filter 0.3s ease; /* Transição suave */
  opacity: 0.7; /* Ajusta a opacidade do fundo */
  backdrop-filter: blur(5px); /* Aplica desfoque no fundo */
}


/* Estilo para o botão de olho dentro do input */
.input-group .btn {
  background-color: #fff;
  border: 1px solid #ced4da; /* Borda padrão do botão */
  border-radius: 0 0.25rem 0.25rem 0; /* Borda arredondada apenas à direita */
  color: #6c757d; /* Cor do ícone */
}

.input-group .form-control {
  border-radius: 0.25rem 0 0 0.25rem; /* Borda arredondada à esquerda */
}

/* Estilo para o ícone de olho */
.input-group .btn i {
  font-size: 1.2rem; /* Tamanho do ícone */
}
