<div class="navbar-main">
  <div class="navbar-main-wrapper">
    <div class="dummy1"></div>

    <div class="navbar-sections-wrapper">
      <a href="#nossos-servicos">Serviços</a>
      <a href="#nossas-marcas">Marcas</a>
      <a href="#quem-somos">Sobre</a>
    </div>

    <div class="navbar-user-wrapper">
      <div class="navbar-hamburger">
        <button class="hamburger-btn" onclick="toggleMenu()">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </button>
        <div class="dropdown-menu" id="dropdownMenu">
          <% if (usuario) { %>
          <a href="/perfil">Perfil</a>
          <a href="/logout">Sair</a>
          <% } else { %>
          <a href="/login">Login</a>
          <a href="/cadastrar">Cadastro</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/public/js/dropdown-menu.js"></script>
