<div class="navbar-main">
    <div class="navbar-main-wrapper">
        <div class="dummy1"></div>

        <div class="navbar-sections-wrapper">
            <a href="#nossos-servicos">Serviços</a>
            <a href="#nossas-marcas">Marcas</a>
            <a href="#quem-somos">Sobre</a>
        </div>

        <div class="navbar-user-wrapper">
            <div class="navbar-user-img">
                <a href="/cadastrar">
                    <img src="/img/userIcon.svg" alt="user-img">
                </a>
            </div>
        </div>
    </div>
</div>