.copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #004d00;
    color: white;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
}