body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.header {
    color: black;
    padding: 5px 0 0 0;
    text-align: center;
    font-size: 24px;
}

.header p {
    margin: 0;
}

.form-container {
    max-width: 600px;
    max-height: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #006400;
    border-color: #006400;
}

.img-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px dashed #28a745;
    background-color: white;
    margin-left: -15px;
    margin-top: -5px;
    z-index: 1;
}

.foto-upload {
    width: 120px;
    height: 120px;
    border: 2px dashed #198754;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #f8f9fa;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, transform 0.2s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-upload:hover {
    background-color: #e6f4ec;
    border-color: #145c39;
    transform: scale(1.05);
}

.foto-icone {
    font-size: 24px;
    margin-bottom: 5px;
}

.foto-upload p {
    font-size: 14px;
    margin: 0;
}

.tipos-pet .tipo {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.tipos-pet .tipo:hover {
    background-color: #006400;
    color: white;
}

.descricao-outro {
    display: none;
    margin-top: 10px;
}

.botao-container {
    margin-top: 10px;
}

#container-tipos .btn {
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
    width: 100px;
    margin: 5px;
}

#container-tipos .btn.selected {
    border-color: #198754;
    background-color: #e9f6f1;
}

#nao-sei {
    accent-color: #198754;
}

.checkbox-green {
    accent-color: #198754;
}

.title-pet {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

#cursor-img {
    cursor: pointer;
}

#imagem-preview {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 5px;
}

.modal-dialog {
    max-width: 700px;
    margin: 30px auto;
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    overflow: hidden;
}

#imagemRecorte {
    max-width: 100%;
    height: auto;
    display: block;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

.modal-footer .btn {
    font-weight: bold;
}

#salvarRecorte {
    background-color: #198754;
    border-color: #198754;
    color: #fff;
}

#salvarRecorte:hover {
    background-color: #145c39;
    border-color: #145c39;
}

.btn-img-voltar {
    height: 30px;
    width: 30px;
}

#descricaoOutro {
    resize: none;
    width: 100%;
    height: 45px;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50% !important;
}

.cropper-view-box {
    outline: 2px dashed green;
    outline-offset: -5px;
}

.cropper-face {
    background-color: rgba(255, 255, 255, 0.1);
}


.modal-header {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.modal-header .btn-close {
    position: absolute;
    right: 1rem; 
}

.modal-header .modal-title {
    margin: 0; 
}

.modal-content{
    padding: 0;
}

.modal-body{
    flex-direction: column;
}