.etapa {
    width: 30px;
    height: 6px;
    border-radius: 5px;
    background-color: #dee2e6;
}

.etapa-ativa {
    background-color: #0d6efd;
}

.option-card {
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.option-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.option-card input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}

.badge.bg-light {
    border: 1px solid #198754;
    background-color: #e6f4ea;
}

.btn-img-voltar {
    height: 30px;
    width: 30px;
    margin-left: 35px;
}

.usuario {
    font-size: 14px;
    color: #007BFF;
}

#data_horario{
    cursor: pointer;
    display: block;
}

#container-agendamento {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.modal-header .btn-close {
    position: absolute;
    right: 1rem; 
}

.modal-header .modal-title {
    margin: 0; 
}

#data-horario{
    font-size: 18.6px;
}

.card{
    border: 1px solid black;
}