header{
    border: 0;
}

.etapa {
    width: 30px;
    height: 6px;
    background-color: #dee2e6;
    border-radius: 10px;
}

.etapa-ativa {
    background-color: #0d6efd;
}

.usuario {
    font-size: 14px;
    color: #007BFF;
}


.servico-item input[type="radio"]:checked+.checkmark,
.adicional-item input[type="checkbox"]:checked+.checkmark {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.servico-item:hover,
.adicional-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.btn-img-voltar {
    height: 30px;
    width: 30px;
    margin-left: 35px;
}

.servico-item{
    max-width: 200px;
    max-height: 200px;
    min-height: 131px;
}

@media only screen and (max-width: 800px){

    #servico-itens{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #servico-itens div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px){

    #servico-add{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    #servico-add div{
        display: flex;
        flex-direction: row;
    };
}
